<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Rocket Foods Layout Element.</string>
	<key>Summary</key>
	<string>Rocket Foods Layout Element</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Description</key>
			<string>The name of the node to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>layoutElement</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Layout Element:</string>
			<key>Description</key>
			<string>What element to subclass in the new file</string>
			<key>Type</key>
			<string>class</string>
			<key>Default</key>
			<string>Display</string>
			<key>Values</key>
			<array>
				<string>Display</string>
				<string>Text</string>
				<string>Editable Text</string>
				<string>Titled Text</string>
				<string>Image</string>
				<string>Button</string>
				<string>Action</string>
				<string>Switch</string>
				<string>Control</string>
				<string>Main</string>
				<string>Scroll</string>
				<string>Table</string>
				<string>Collection</string>
				<string>Cell</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>Display</key>
				<string>Node</string>
				<key>Text</key>
				<string>TextNode</string>
				<key>Editable Text</key>
				<string>TextNode</string>
				<key>Titled Text</key>
				<string>TextNode</string>
				<key>Image</key>
				<string>ImageNode</string>
				<key>Button</key>
				<string>ButtonNode</string>
				<key>Action</key>
				<string>ActionNode</string>
				<key>Switch</key>
				<string>SwitchNode</string>
				<key>Control</key>
				<string>ControlNode</string>
				<key>Main</key>
				<string>MainNode</string>
				<key>Scroll</key>
				<string>ScrollNode</string>
				<key>Table</key>
				<string>TableNode</string>
				<key>Collection</key>
				<string>CollectionNode</string>
				<key>Cell</key>
				<string>CellNode</string>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Elements</string>
			<key>Name</key>
			<string>Also create file with Elements</string>
			<key>Description</key>
			<string>Whether to create Elements file as extension</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Language:</string>
			<key>Description</key>
			<string>The implementation language</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Objective-C</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
				<string>Objective-C</string>
			</array>
			<key>MainTemplateFiles</key>
			<dict>
				<key>Swift</key>
				<string>___FILEBASENAME___.swift</string>
				<key>Objective-C</key>
				<string>___FILEBASENAME___.m</string>
			</dict>
			<key>AllowedTypes</key>
			<dict>
				<key>Swift</key>
				<array>
					<string>public.swift-source</string>
				</array>
				<key>Objective-C</key>
				<array>
					<string>public.objective-c-source</string>
					<string>public.objective-c-plus-plus-source</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
